@import "tailwindcss";

@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Greed Standard";
  src: url("../assets/font/GreedStandard-TRIAL-Regular.woff2") format("woff2");
  src: url("../assets/font/GreedStandard-TRIAL-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --max-width: 1600px;
  --padding-container: 0 2rem;
  --padding-rightContainer: 0 18% 0 29%;

  @media (max-width: 640px) {
    --padding-container: 0 1rem;
  }

  @media (max-width: 1024px) {
    --padding-rightContainer: 0 1rem;
  }
}

@utility container {
  margin: 0 auto;
  padding: var(--padding-container);
  max-width: var(--max-width);
}

@utility rightContainer {
  margin: 0 auto;
  padding: var(--padding-rightContainer);
  max-width: var(--max-width);
}

@theme {
  --shadow-layer: 0 35px 60px -15px rgba(0, 0, 0, 0.3);
  --shadow-nav: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --default-transition-duration: 250ms;

  --color-framework: #000;

  --color-brand: #f50;
  --color-blue: #0052ff;
  --color-yellow: #cdea19;
  --color-gray-50: #f6f6f8;
  --color-gray-100: #eeeef1;
  --color-gray-200: #e3e4e8;
  --color-gray-300: #bbbdc9;
  --color-gray-400: #9499ad;
  --color-gray-500: #727892;
  --color-gray-600: #515870;
  --color-gray-700: #383d51;
  --color-gray-800: #252837;
  --color-gray-900: #1b1d27;
  --color-gray-950: #13141b;

  /* Colors */
  --color-dia-yellow: #98ad00;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #212121;

  /* Fonts */
  --font-display: "greedStandard";

  /* Typography */
  --text-h1: clamp(2.25rem, 0.8818rem + 5.8378vw, 5.625rem);
  --text-h2: clamp(1.75rem, 0.9392rem + 3.4595vw, 3.75rem);
  --text-h3: clamp(1.5rem, 1.348rem + 0.6486vw, 1.875rem);
  --text-h4: clamp(1.125rem, 1.0743rem + 0.2162vw, 1.25rem);

  --text-copy: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
  --text-copy-small: clamp(0.875rem, 0.7736rem + 0.4324vw, 1.125rem);
  --text-quote: clamp(1.3125rem, 0.6696rem + 1.3393vw, 1.875rem);
}

@utility prose {
  blockquote {
    border-left: 0;
    padding-left: 0;
    font-size: var(--text-quote);
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 20px;
  }

  p {
    margin: 20px 0;
  }

  video {
    margin: 0;
  }
}

h1 {
  line-height: 100%;
  font-weight: 600;
}

img {
  overflow-clip-margin: unset;
}

p,
a,
div,
span {
  font-size: var(--text-copy);
  line-height: 140%;
}

.tabbedContent .rightContainer {
  padding: unset;
  max-width: unset;
  margin: unset;
}
